footer
  .container
    .row
      p FOOTER Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sint, omnis ut tenetur molestiae quibusdam consequuntur rerum maxime tempora animi facere laborum neque nobis necessitatibus libero sit at tempore cupiditate!
block jsFooter
