extends _layout
block content
  .jumbotron
    .container
      h1 Lazy Lawyer
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, similique.
      a.btn.btn-primary.btn-lg(role="button") Learn &#187;