extends _layout
block content
  .jumbotron.category
    .container-fluid
      .row
        .col-md-12
          ol.breadcrumb
            +item-linked('#','Home')
            +item-linked('#','Professional Service Agreements')
            li.active Employment Contract Template
        .col-md-8
          h1 Employment Contract Template